@{
    ViewData["Title"] = "Politica de privacidade";
}
<h1>@ViewData["Title"]</h1>

<div>
<p>Essa pagina foi criada para um trabalho de faculdade. Você realmente acha que temos uma politica de privacidade?</p>
<img src="~/img/Gatinho.jpg" alt="Alternate Text" />
</div>